[2013-12-07 13:42] drtortoise opened #1 "all activity lists should not have checkboxes"
So currently all list items inside .activity get's a checkbox. Not all lists should have a checkbox, like in web curriculum lesson 5 there is a list of all the websafe fonts that should not have the checkboxes after each item.

This is the only case I've come across so far, but still... bleugh

[2013-12-09 11:55] drtortoise opened #2 "legal notice needs to be in a new section"
currently the legal notice gets put in as a div at the end of the document, inside whatever section is the last one

this looks ok in most cases but if the last section is a "try" it looks off
![screen shot 2013-12-09 at 11 51 37](https://f.cloud.github.com/assets/201994/1704342/b810052e-60c8-11e3-981b-529a7591ae40.png)

[2013-12-09 12:12] #2 closed, assigned to nobody

[2013-12-09 17:55] tef opened #3 "Separate templates for World and UK"
Well, almost

I've put a conditional include inside template.html, which allows for including an extra css file depending on region, and the legalese is now included via a --include-after-body option for pandoc.

But it would be nice to split out the formatting layout css and the heading colours into separate files

[2013-12-09 18:09] tef opened #4 "Update scratchblocks"
https://github.com/blob8108/scratchblocks2

merge in changes made by codeclub Luxembourg, merge in new changes from upstream

[2014-01-08 12:06] drtortoise opened #5 "peeps should be able to view the html output somewhere and download the pdfs"
and Clare want sthe nav to look like this
![ccw-project](https://f.cloud.github.com/assets/201994/1867946/35261b4c-785d-11e3-9b9f-959dab375034.jpg)
![ccw-language](https://f.cloud.github.com/assets/201994/1867947/353b864e-785d-11e3-947e-e25dc994aa75.jpg)

[2014-01-14 13:34] #4 closed, assigned to nobody

[2014-01-16 16:59] drtortoise opened #6 "make the volunteer resources look pretty too"

[2014-01-16 17:21] ClareSutcliffe opened #7 "Global nab - Move FAQs and Jobs to About section"

[2014-01-16 17:39] ClareSutcliffe opened #8 "Change copy on website"
Register page
- Volunteer box - remove: 'then access materials'
- Register club box -  remove: 'and download the materials'

About page
- What we teach add: You can access the full set of projects [here](/projects) or have a quick look at the samples below.

Start a club page
- Change term out line sot 'what we teach' add explanation of registering a club and project access here. See Clare's notes

[2014-01-16 17:39] #8 closed, assigned to nobody

[2014-01-16 17:58] tef opened #9 "Launch Lesson Browser"
Want to be able to go to projects.codeclub.org.uk, and projects.codeclubworld.org to be  able to browse and download

updating the templates #3
- [x] Build Code Club UK, and Code Club world templates.
- [ ] Get clare to say they look ok.

getting the legal ok
- [ ] Get lawyer signoff on legal text for UK lessons, although we have a copy somewhere
- [x] Similarly  get legal signoff for legal text o

[2014-01-17 16:41] ClareSutcliffe opened #10 "Give CC and CCW logos 10px space from edge of header bar"

[2014-01-17 16:45] ClareSutcliffe opened #11 "Make sure legal disclaimer is larger and appears at the beginning and end of each project"
At least 15px size text

To appear above title bar and after last line in project

World
These projects are for use outside the UK only. More information is available on our website at http://www.codeclub.org.uk/. This coursework is developed in the open on GitHub, https://github.com/CodeClub/ come and join us!

UK
These projects are for use inside the UK only. All Code Clubs must be registered. Y

[2014-01-22 11:40] #10 closed, assigned to nobody

[2014-01-25 00:19] #7 closed, assigned to ClareSutcliffe

[2014-01-26 23:07] #11 closed, assigned to nobody

[2014-01-26 23:11] #6 closed, assigned to nobody

[2014-01-26 23:12] #5 closed, assigned to nobody

[2014-01-26 23:12] #3 closed, assigned to nobody

[2014-02-02 15:52] wendelborg opened #12 "Norwegian scratch blocks in generated html"
Hi, we are trying to use lesson_format/build.py tool to generate Norwegian docs, including Norwegian scratch blocks.
We have build.py running locally, and everything is generated correctly for en-GB docs.
However, generating docs for any other language results in red scratch-blocks.

Got any tips on what we could be missing?

Best Regards,
Tommy

[2014-02-04 13:42] #12 closed, assigned to nobody

[2014-02-04 14:08] drtortoise opened #14 "Challanges no longer look like they should and are not centered"
![screen shot 2014-02-04 at 14 08 06](https://f.cloud.github.com/assets/201994/2076637/d389727c-8da5-11e3-8bbc-c56d0c29ea7f.png)

[2014-02-07 22:13] drtortoise opened #15 "white text on white background is sub-optimal"
see http://projects.codeclubworld.org/en-GB/scratch.1/05/FishChomp.html
![screen shot 2014-02-07 at 22 10 59](https://f.cloud.github.com/assets/201994/2114886/0a270c3a-9045-11e3-887e-838fa9c7dfd9.png)

[2014-02-10 15:44] tef opened #16 "CSS Issues"
- [x] Challenges are not centre red
- [ ] Header does not work in safari, or older browsers
- [ ] Spacing around headers isn't great either
- [ ] Language index is ugly
- [ ] Project index is ugly
- [ ] Long code samples need to wrap not overflow

[2014-02-10 15:44] #14 closed, assigned to nobody

[2014-02-10 16:10] #15 closed, assigned to nobody

[2014-02-13 15:16] gahjelle opened #17 "Automatic generation of PDFs"
Hi,

I noticed that autogeneration of PDFs had been disabled. Together with the team here in Norway I have implemented a simple solution that uses phantomjs to convert the pandoc created HTML to PDF. With the potential exception of details like page breaking this seems to give very nice results with the added bonus of the PDFs visually staying very (too?) close to the HTML.

Currently we have the

[2014-02-20 16:35] #9 closed, assigned to nobody

[2014-02-20 18:01] tef opened #20 "Launch Lesson Browser (UK)"
- [ ] Add support email address to disclaimer
- [ ] Build google form for lesson survey
- [ ] Add new slices page on CCUK website with information, and embedded form
- [ ] Style form and ensure redirect to UK projects minisite.
- [ ] Confirm UK Legal signoff text
- [ ] Go Live, link projects page from CCUK website.

[2014-02-28 08:49] paulsinnett opened #21 "Scratchblocks problem block"
I have the following script in my markdown:

[code]

This renders correctly at http://blob8108.github.io/scratchblocks2 but the light blue is coming out green when rendered to a png.

[2014-03-03 14:13] #21 closed, assigned to nobody

[2014-03-03 16:17] tef opened #22 "Scratch Cards should be along side lessons"
not as seperate projects

[2014-03-03 17:26] #22 closed, assigned to nobody

[2014-03-04 13:13] #20 closed, assigned to nobody

[2014-03-11 13:27] #16 closed, assigned to nobody

[2014-06-30 11:10] andylolz opened #27 "Make `pandoc_scratchblocks` a submodule"
I’ve just submitted a PR here: CodeClub/pandoc_scratchblocks#3
…but I notice it is not a submodule of this repo.

Could the change also be added here? Thanks!

[2014-07-01 14:25] andylolz opened #29 "Add `.blockmotion`, `.blockdata` etc css styles"
There appears to be some disagreement in the instructions over which blocks are yellow, and therefore should have `{ .blockyellow }` (it’s either control or events). There are also instances of `{ .blocklightblue }` which is not defined in the css.

Adding the 10 classes `.blockmotion`, `.blocklooks`, `.blockdata` etc to the css would help resolve these sorts of issues. We could even add the Scrat

[2014-08-08 11:00] andylolz opened #34 "Checkboxes are falling out of flag boxes"
[Felix and Herbert example here](http://projects.codeclub.org.uk/en-GB/01_scratch_01/01/01%20Felix%20and%20Herbert.html#test-your-project).

Looks like this change is the culprit:
https://github.com/CodeClub/lesson_format/commit/4f0f81ebf9c62a03cecd981e1dcf1a364f306309#diff-6f23c456877596da1d222ce071b17f86L48

More generally: I’m not sure about [this new checkbox alignment](http://projects.codeclu

[2014-08-08 11:04] #27 closed, assigned to nobody

[2014-08-18 11:35] andylolz opened #35 "Make checkboxes clickable"
I made [a pandoc filter to do this (very rougly)](https://github.com/andylolz/lesson_format/commit/22d41d3f87876f2e5c8079746753432dd519f9a4), but I wonder whether this wouldn’t be more transparent in javascript.

[2014-08-26 09:25] andylolz opened #36 "Move formatting stuff out of readme"
The stuff in the readme about code club markdown, headers, scratchblocks etc is all really great. Linking to it from the curriculum repo readmes would help ensure it is read and used by community contributors.

To facilitate this, I suggest moving the formatting stuff out to a separate file.

[2014-08-26 12:23] andylolz opened #39 "Generate a README.md file"
It’s not immediately obvious what the different code club repos are for. This is apparent from the fact people often create issues against the static `gh-pages` repos (`CodeClubUK-Projects` and `CodeClubWorld-Projects`).
- [x] It would therefore be useful for the `CodeClubUK-Projects` and `CodeClubWorld-Projects` repos to include `README.md` files, explaining that they are automatically generated,

[2014-08-26 15:35] andylolz opened #41 "Licence disagrees with Code Club website FAQ page"
Under “Can I see the materials before signing up?”, the [Code Club FAQ page](https://www.codeclub.org.uk/faqs) says “all of our projects are open source”.

However, [the licence used](https://github.com/CodeClub/lesson_format/blob/b944e28e/assets/templates/lesson.html#L34) for all Code Club projects ([CC BY-NC-SA 4.0](http://creativecommons.org/licenses/by-nc-sa/4.0/)) is not open source ([due to

[2014-09-15 16:23] andylolz opened #44 "Consider hosting large files (zips; pdfs) elsewhere"
- Hosting zips and pdfs in git means git operations (e.g. `add` and `status`) are super slow
- Large zip files are also duplicated in two different repos (CodeClubUK-Projects and CodeClubWorld-Projects), so you have to push them twice (which takes twice as long).

Consider pushing pdfs and zips to an S3 bucket (or something).

[2014-09-16 16:18] #34 closed, assigned to nobody

[2014-09-18 13:58] andylolz opened #45 "Nightly (or post-receive) builds"
Originally proposed by @lobotommy over here: CodeClub/scratch-curriculum#84:

[2014-09-18 16:00] #29 closed, assigned to nobody

[2014-09-18 20:46] andylolz opened #46 "Move Vietnamese language definition"
It’s possible that while PR #23 was awaiting review, the language definitions moved. In any case, it needs to be reunited with the other language definitions.

[2014-09-18 20:49] #46 closed, assigned to nobody

[2014-09-19 00:03] andylolz opened #48 "Add example translation dictionary to en-GB.language"
It’s quite difficult to know what the dictionary of translations required should actually contain.

It would be useful to have a complete dictionary of required translations somewhere, for instance in the en-GB.language file.

[2014-09-19 00:07] andylolz opened #49 "Don’t hardcode the PDF legal text used"
Currently the legal text used for automatic PDF generation is hardcoded [here](https://github.com/CodeClub/lesson_format/blob/master/assets/templates/_phantomjs_footer.html) and [here](https://github.com/CodeClub/lesson_format/blob/master/assets/templates/_wkhtmltopdf_footer.html). We should instead be using `language.legal` or `theme.legal`.

[2014-09-19 11:00] #49 closed, assigned to nobody

[2014-09-19 11:59] #35 closed, assigned to nobody

[2014-09-19 14:57] andylolz opened #52 "Legend is not translated / translatable"
By “legend”, I mean this thing:

![screen shot 2014-09-19 at 15 48 49](https://cloud.githubusercontent.com/assets/464193/4337082/1e2d36ce-400c-11e4-9518-5848bba7b858.png)

Automatic PDF generation currently gets this from [the lesson.html template](https://github.com/CodeClub/lesson_format/blob/9ae5132e/assets/templates/lesson.html#L38-L56). However, doing it that way makes it tricky to translate

[2014-09-21 12:36] #52 closed, assigned to nobody

[2014-09-21 18:41] andylolz opened #54 "Manifest errors cause term to be silently skipped"
Issue raised in the “Bugs/Features Missing” section of the README.

Errors can be missing files or json syntax errors.

Might be better to:
- halt when we hit an error in a manifest
- run through all manifests before doing any work, checking for errors

[2014-09-21 18:42] andylolz opened #55 "Notes/Extras cannot have embedded files"
Issue raised in the “Bugs/Features Missing” section of the README.

Only projects can have embedded files. Notes/extras can’t.

[2014-09-23 12:13] #36 closed, assigned to nobody

[2014-09-23 12:14] #17 closed, assigned to nobody

[2014-09-23 12:35] andylolz opened #56 "Update installation instructions in README"
Required:
- [node / npm](http://nodejs.org/download/)
- [wkhtmltopdf](http://wkhtmltopdf.org/downloads.html)

Not required:
- phantomjs (npm should install this)

python dependencies should be installed with: `pip install -r requirements.txt`
node dependencies should be installed with: `npm install`

[2014-09-23 15:23] rikcross opened #57 "PDF trailing blank page"
Some project PDFs have a trailing blank page.

en-GB:
Scratch - Desert Race
Python - ASCII Art
![screen shot 2014-09-23 at 16 20 23](https://cloud.githubusercontent.com/assets/7372432/4374615/831a16f2-4335-11e4-915e-be9dfddf756b.png)

[2014-09-23 15:24] rikcross opened #58 "Headings/Legend in non-English PDFs"
The legend labels and activity headings aren't showing in translated PDFs.

![screen shot 2014-09-23 at 16 19 20](https://cloud.githubusercontent.com/assets/7372432/4374632/a50c3a4c-4335-11e4-8c03-f050fc95aede.png)

[2014-09-23 15:27] rikcross opened #59 "Empty first pages in some PDFs"
For example the 'Missing Cat Website' HTML project.

![screen shot 2014-09-23 at 16 26 04](https://cloud.githubusercontent.com/assets/7372432/4374686/150091ea-4336-11e4-9091-c89e85b84088.png)

[2014-09-23 15:32] rikcross opened #60 "Some PDF elements span 2 pages"
Some small elements span 2 pages.

E.g. Desert Race 'save' elements:

![screen shot 2014-09-23 at 16 30 59](https://cloud.githubusercontent.com/assets/7372432/4374787/e8f16f06-4336-11e4-9ab9-e7566a769c0f.png)

This happens in most Scratch project PDFs.

[2014-09-24 11:23] andylolz opened #61 "Add a favicon!"
Generated projects sites don’t have favicons :(

Should be a quick fix.

[2014-09-24 12:59] andylolz opened #62 "Generate registers from manifest"
The [registers in the club materials](https://s3.amazonaws.com/codeclub-assets/public/Club+materials.zip) are ace – but:
- They don’t factor in the number of weeks that a project takes (e.g. advanced scratch projects each take ~4 weeks)
- it’s easy for them to get out of sync with the current project list (as is currently the case)
- Many Code Club volunteers will not even be aware of these materi

[2014-09-24 15:33] #61 closed, assigned to nobody

[2014-09-25 16:31] #56 closed, assigned to nobody

[2014-09-26 15:30] andylolz opened #69 "The word “Languages” isn’t translated in breadcrumbs"
For instance:
![screen shot 2014-09-26 at 16 29 08](https://cloud.githubusercontent.com/assets/464193/4423089/f8ddd366-4591-11e4-8a31-6e0a9d2c5452.png)

[2014-09-26 16:26] andylolz opened #71 "Clean up output as we go"
If lessons are reordered or filenames change, lesson_format will create new directories but it won’t clean up the old ones. This results in a big mess of stale files.

[2014-09-28 21:34] codecleaner opened #73 "Broken checkboxes in activity list in printable version"
When I print project instruction (in Chrome) I get something like this:

![image](https://cloud.githubusercontent.com/assets/781153/4435770/94b84a94-4756-11e4-9f5a-50871cb04614.png)

Note that checkboxes in activity list are broken (probably because of the negative margin on list), while checkboxes in "Test your project" box are fine.

[2014-09-28 21:39] codecleaner opened #74 "Can't build polish projects because of non-ascii character"
When I run:

<pre>$ python build.py --rebuild world lessons/scratch lessons/python lessons/webdev output/codeclubworld</pre>

I get:

<pre>
Searching for manifests...
Found Manifest:
/Users/wojciech.zielinski/Projects/CodeClub/lesson_format/lessons/scratch/pl-PL/Semestr 1/pl-PL_scratch_semestr1.manifest
Copying assets...
Language
Polski
Building Term:
Traceback (most recent call last):
  File "bui

[2014-09-29 11:03] #69 closed, assigned to nobody

[2014-09-29 15:43] #74 closed, assigned to nobody

[2014-09-30 09:09] andylolz opened #77 "Ability to rebuild a single lesson"
To generate PDFs currently, it’s necessary to run `python build.py --pdf ...` and rebuild a whole projects website (ok, so you can just build one curriculum, but that is still a lot of stuff). It would be useful instead to pinpoint a single lesson for rebuild.

This would also be a step towards making `build.py` less monolithic and instead a bit more modular.

[2014-10-01 08:38] #39 closed, assigned to nobody

[2014-10-06 10:33] #41 closed, assigned to nobody

[2014-10-06 12:54] rikcross opened #83 "URLs and broken links"
I don't know whether this is easily doable, but if a link, such as:
http://projects.codeclub.org.uk/en-GB/01_scratch_01/01/01%20Felix%20and%20Herbert.html

...could become something like...
http://projects.codeclub.org.uk/en-GB/scratch_01/Felix%20and%20Herbert.html

...then there wouldn't be broken links whenever I move the order of terms/projects around. For example, adding in a project as lesson

[2014-10-06 18:01] #58 closed, assigned to nobody

[2014-10-06 18:02] #60 closed, assigned to nobody

[2014-10-06 18:29] andylolz opened #84 "Autobuild doesn’t know when to commit zips"
@codeclubrobot can generate zips of resources, but he doesn’t know when to commit them.

@codeclubrobot does the following:
- clones the static projects repo (UK or world)
- deletes everything
- rebuilds everything
- commits everything (`git add --all`)

This is dumb and slow, but effective! git does all the hard work (figuring out what has changed). The only problem is zip files, because git thin

[2014-10-06 18:34] andylolz opened #85 "Autobuild: pandoc_scratchblocks is cloned every run"
`pandoc_scratchblocks` should really be a git submodule.

[2014-10-06 18:42] #57 closed, assigned to rikcross

[2014-10-06 18:45] #59 closed, assigned to rikcross

[2014-10-06 23:26] #84 closed, assigned to nobody

[2014-10-06 23:29] andylolz opened #86 "Autobuild: unicode filename issues"
More details here: andylolz/CodeClubUK-Projects#3

[2014-10-06 23:31] andylolz opened #87 "Phantomjs crashes are currently ignored :("

[2014-10-06 23:35] andylolz opened #88 "Code Club World PDFs need styling"
There are currently no PDF links on the Code Club World project site – they’re all switched off.

Once these PDFs are styled up, we can start generating them automatically.

[2014-10-06 23:35] #48 closed, assigned to nobody

[2014-10-06 23:37] andylolz opened #89 "Notes PDFs need styling"

[2014-10-06 23:46] andylolz opened #90 "Branding on UK / world projects sites is mixed…"
Should the UK site all be green, and the world site all be blue?

Or should UK lessons all be green, and non-UK lessons all be blue?

We’re probably closer to the latter at the moment, but it’s a bit of a mix. It would be good to know what the most desirable branding is.

[2014-10-07 07:43] andylolz opened #92 "Autogenerated PDFs missing headers on all but the first page"
The header on lesson PDFs should be big on the first page, but smaller on subsequent pages. This is difficult to achieve in phantom.js / wkhtmltopdf. Variable sized headers don’t appear to be possible, and detecting page breaks is also tricky.

[2014-10-07 11:30] andylolz opened #93 "Autobuild: Run whenever a change is made to a curriculum repo"
@codeclubrobot is currently scheduled to run nightly, thanks to [heroku scheduler](https://addons.heroku.com/scheduler). It would be better to (also) run whenever a change is made to a curriculum repo.

This involves:
- [x] listening for POST requests and [scheduling a background task](https://devcenter.heroku.com/articles/background-jobs-queueing) to do the work
- [x] [adding webhooks](https://he

[2014-10-07 14:25] #45 closed, assigned to nobody

[2014-10-07 23:23] #86 closed, assigned to nobody

[2014-10-09 11:52] andylolz opened #97 "Name the autobuild bot"
I’ve currently named him **Matt CI**, because he does lesson for<strong>Matt</strong>ing.

Thoughts? :)

[2014-10-10 08:38] andylolz opened #98 "Add a license"
There’s no license on this repo. [May I suggest MIT](http://choosealicense.com/licenses/mit/)?

[2014-10-10 13:27] #90 closed, assigned to nobody

[2014-10-10 15:10] andylolz opened #99 "Remove excess padding in generated PDFs"
There’s lots of superfluous padding in generated PDFs, causing them to span even more pages than before.

Let’s get them down to at most the same number of pages as before.

[2014-10-11 12:29] andylolz opened #101 "stylesheet for generating PDFs should be used as HTML print stylesheet"
@codecleaner makes [this excellent point](https://gist.github.com/andylolz/717626137848f2e185f9#comment-1315484):

Seems like a great idea.

[2014-10-11 13:46] #85 closed, assigned to nobody

[2014-10-13 11:16] #93 closed, assigned to andylolz

[2014-10-13 12:37] andylolz opened #104 "Add redirect_from frontmatter handler"
See CodeClub/webdev-curriculum#17. Permalinks are far from permanent on the projects websites currently. We should add a redirect_from directive, that works [exactly like the jekyll one](https://help.github.com/articles/redirects-on-github-pages/) (i.e. adds a page with a meta refresh redirect).

We should do #83 first, otherwise we’re going to have meta-refresh pages everywhere.

[2014-10-13 16:31] #92 closed, assigned to nobody

[2014-10-13 16:32] #88 closed, assigned to nobody

[2014-10-13 16:33] #97 closed, assigned to nobody

[2014-10-14 14:12] rikcross opened #105 "'Level' text at top of PDF"
![screen shot 2014-10-14 at 15 05 39](https://cloud.githubusercontent.com/assets/7372432/4630254/e3e8a526-53ab-11e4-96cc-a02212e2b64d.png)

...Can the font be easily scaled, or do I just rename 'additional' to 'extra' or something?

Cheers!

[2014-10-14 14:36] #105 closed, assigned to nobody

[2014-10-14 14:41] rikcross opened #106 "Code Club World PDF branding"
Hey, I just pushed to the Python curriculum, and 'codeclubrobot' (the politest robot in the world :) ) made a pull request, which contains the PDFs.

These look amazing!

The only thing I spotted was the footer website, which should include the codeclubworld.org website, and not codeclub.org.uk!

...also, I wonder whether the title bars should be blue and not green, to fit in with the branding of

[2014-10-15 09:43] #106 closed, assigned to nobody

[2014-10-23 10:10] andylolz opened #109 "worker + web dynos exceed heroku free plan"
Super boring infrastructure issue:

On heroku, we use a worker dyno (that does the build) and a web dyno (that listens for the pings from github saying something has changed). The worker is required because the build takes a long time, and the web request would time out if it had to do the build.

Having both running goes over the free allowance.

If the web dyno can switch the worker dyno on when

[2014-10-28 09:07] #73 closed, assigned to andylolz

[2014-10-28 15:43] andylolz opened #110 "Push to heroku && run autobuild.py when lesson_format#master is modified"
This repo is super useful for doing this:
https://github.com/ajlai/github-heroku-pusher

[2014-10-28 15:43] andylolz opened #111 "Don’t minify css in this repo"
@Jonic:

Can I suggest the css in this repo is unminified, and is only minified on production (i.e. in the `CodeClubUK-Projects` and `CodeClubWorld-Projects` repos)?

The only reason I can see to have css in this repo at all (rather than just the Sass) is to make it a bit more accessible for contributors who are not familiar with Sass. I think this is a totally valid reason :heart:

If the css is

[2014-11-05 07:10] #111 closed, assigned to nobody

[2014-11-20 17:28] rikcross opened #115 "Project challenges that span > 1 page"
E.g. 'Boat Race' project
![screen shot 2014-11-20 at 17 27 39](https://cloud.githubusercontent.com/assets/7372432/5129481/98e6aac2-70da-11e4-880c-8e19fa26695d.png)
Is there any way that the text can avoid spanning 2 pages?

[2014-11-25 16:44] andylolz opened #117 "rtl support"
To implement the changes in CodeClub/scratch-curriculum#191, we first need rtl support. This would be mega awesome :rocket:

[2014-11-26 16:53] #115 closed, assigned to nobody

[2014-11-28 09:55] andylolz opened #118 "Header banner on lesson PDFs is borked for “additional projects”"
![screen shot 2014-11-28 at 09 04 45](https://cloud.githubusercontent.com/assets/464193/5225676/c9f4fade-76dd-11e4-8b0a-45afdf5fa7e0.png)

The green box was originally there to contain the level (where each term contained multiple levels.) I don’t think we’re using the concept of levels anymore. Does the box still need to be there? Perhaps it should just be removed from “additional projects”?

Wha

[2014-12-05 14:16] rikcross opened #119 "Descriptions of 'terms'"
Can the 'description' in each manifest be displayed above the link to the projects? It would aid readability, and let people know what they're clicking!

![screen shot 2014-12-05 at 14 15 27](https://cloud.githubusercontent.com/assets/7372432/5316924/3a87a138-7c89-11e4-96ce-206bddc0262e.png)

![screen shot 2014-12-05 at 14 08 58](https://cloud.githubusercontent.com/assets/7372432/5316915/19316cd0-

[2014-12-15 15:39] andylolz opened #120 "Use scratchblocks2.js on frontend? (and remove pandoc_scratchblocks)"
Paging @tef: this question is specifically directed to you!
#### Background

[lesson_format](https://github.com/codeclub/lesson_format) runs [pandoc](http://johnmacfarlane.net/pandoc/) with the custom [pandoc_scratchblocks](https://github.com/CodeClub/pandoc_scratchblocks) filter, which in turn uses [scratchblocks2](https://github.com/blob8108/scratchblocks2).js + [phantom.js](http://phantomjs.org

[2014-12-16 09:38] andylolz opened #121 "Generate A5 booklet PDFs"
This came up at the London meetup recently… A5 booklets are easier to manage and work with when printed out, and they’re quite nice handy things.

It’s technically straightforward to do, but could cause pagebreak-related issues.

Credit to @alblue for this suggestion!

[2014-12-16 11:41] #120 closed, assigned to nobody

[2014-12-16 11:54] andylolz opened #122 "Add a nice print stylesheet (based on pdf.css)"
@codecleaner suggested this a while ago. We can use the pdf css for html print css. It might require a bit of tweaking – I’m not sure – but it might be cool to make HTML printouts a bit prettier.

[2014-12-16 12:11] andylolz opened #123 "Don’t use pre-generated scratchblock images in PDFs"
Generating scratchblocks on the fly (in js) would reduce PDF filesize a bit… However, this is a bit of a faff to do at the moment, since it would require a separate run of pandoc.

I’m not actually sure how much this would reduce filesize by – it might not be worth it.

[2014-12-16 12:14] andylolz opened #124 "Add a switch to skip phantom.js scratchblock generation (and instead render them client side)"
This would remove the dependence on phantom.js in generating HTML.

[2014-12-16 12:31] andylolz opened #125 "Split autobuild + API out into a separate repo"
I’m not sure this stuff really belongs here.

[2014-12-16 12:46] andylolz opened #126 "Lesson Formatter as a Service"
In the spirit of making it as simple as possible to contribute to code club projects, it would be great to offer the lesson formatter as a service (LFaaS)
- It’s already hosted on heroku
- It already has [a web API](https://github.com/CodeClub/lesson_format/blob/4161d95e/api.py) (albeit very simple at present)
- It already [pulls from a set of github repos](https://github.com/CodeClub/lesson_forma

[2014-12-16 13:43] #118 closed, assigned to nobody

[2014-12-18 11:28] andylolz opened #128 "Remove “beta” / replace with “new”"
A volunteer at the London meetup mentioned it’s a bit weird that the printed PDFs say “beta” in the titles. I think I agree – this is definitely more of a volunteer-facing thing. We currently strip the “heads up!” text out of the PDFs, so maybe we should also strip the title prefix.

One simple way to do this (and tidy up a bit on the way) would be to add support for `beta: true` in the frontmatte

[2014-12-19 15:00] CodeClubRik opened #130 "Some files not appearing in the 'Download Project Materials' .zip"
For example, in "Paint Box" (Scratch 1), the .md says:
`materials: ["PaintBox.sb2","PaintBoxResources.sb2","Resources/*.*"]`

but the file `PaintBoxResources.sb2` doesn't appear in the downloaded .zip (for me anyway).

This is also true for 'Boat Race' and 'Create Your Own World' Scratch projects.

[2014-12-22 11:59] rikcross opened #131 "PDF 'test' instructions for HTML / Python"
Currently _all_ PDFs say 'click the green flag to test', which is only applicable to Scratch.

![screen shot 2014-12-22 at 11 47 44](https://cloud.githubusercontent.com/assets/7372432/5524632/69cb9e32-89d0-11e4-9fcd-9dde298f3989.png)

This could be changed to say simply 'run program to test it' (Python) and 'view your page' or similar in HTML.

I also wonder whether the icon for testing generally

[2015-01-05 22:27] andylolz commented on #130
Is this fixed now?

[2015-01-05 22:42] CodeClubRik commented on #130
Yep it seems that way. I'll close and reopen if needed! :)

[2015-01-05 22:42] #130 closed

[2015-01-08 14:47] CodeClubRik commented on #131
Oh @andylolz I've just remembered why I left out the 'test' checkpoints. They can only be added to the end of an entire activity (as can the challenges) and not at various arbitrary points in the project.

Is there any way around this? If not, it's not the end of the world, as _most_ test points are at the end of activities -- the rest can just be test points without the `{.flag}` marker.

[2015-01-08 15:34] andylolz commented on #131
I would bet money that it works that way by design, as a means to gently push a project author towards a consistent style.

[2015-01-27 11:23] CodeClubRik commented on #128
This is great, but from talking to our community manager is seems as though the mention of 'Beta' is putting volunteers off using new projects. How about if we:
+ Replace the text in the 'Heads up!" message to say 'new' instead of 'beta';
+ Remove the text '(Beta)' from the project title.

[2015-01-27 11:40] CodeClubRik opened #132 "Russian resources not displaying"
Russian resources are showing locally but not on website?

![thumbnail 1](https://cloud.githubusercontent.com/assets/7372432/5917807/4db753f2-a619-11e4-86b6-dd17085059f1.png)

[2015-01-28 08:21] andylolz commented on #128
Cool! Happy to sort this one.

[2015-01-28 08:24] andylolz commented on #132
In the past, this sort of problem has usually been due to a case sensitivity issue in a manifest.

(I haven’t checked, but that’s what I’d guess.)

Should really make it fail a bit more noisily. I think that’s what #54 is about, in fact.

[2015-01-28 09:13] CodeClubRik commented on #132
I think you're right. I previously fixed the case-sensitivity and git didn't pick up the changes. I ran:

`git config --system core.ignorecase false`

[2015-01-28 11:56] andylolz commented on #132
Nice one!

I don’t think repos have a `.gitconfig` – it’s per instance :( It might be possible to do this in the `.gitattributes` file, though?? I don’t know.

[2015-01-30 12:55] andylolz commented on #98
Ping! Any word on this? I’m now far more keen on [GPL](choosealicense.com/licenses/gpl-2.0/).

[2015-01-30 13:16] CodeClubRik commented on #98
@martinpeck probably has some thoughts on this.

[2015-01-30 14:22] CodeClubRik opened #133 "Rename 'Terms & Resources' and 'Terms' titles"
'Terms' feels a little too school-like, and so I wanted to change these titles:

![screen shot 2015-01-30 at 14 12 03](https://cloud.githubusercontent.com/assets/7372432/5976842/2b706db0-a88a-11e4-9586-3ce124242aea.png)

...but noticed that there's some hard-coding:

![screen shot 2015-01-29 at 20 11 04](https://cloud.githubusercontent.com/assets/7372432/5976858/51560b8e-a88a-11e4-86a3-1ea0f395211

[2015-02-01 00:12] andylolz opened #134 "Add a custom 404 page"
It has been flagged up here before that project URLs often change – usually due to projects being reordered.

One way to mitigate the problem a bit would be with a more helpful 404 page. I’d suggest something like:

…or something to that effect.

[Instructions for customising here](https://help.github.com/articles/custom-404-pages/).

[2015-02-01 00:31] andylolz commented on #133
Currently a collection of projects is called a Term (the plural of which is of course “Terms”). Happy for a collection of projects to be called something else, but I don’t think the plural of that thing should be “Projects” because that would be confusing. You’d click through from a page of “Projects” (formerly “Terms”) to a page of “Projects”.

How would you want this to work ideally, @CodeClubRi

[2015-02-02 10:56] CodeClubRik commented on #133
Hey @andylolz -- I agree, although I can't think of a suitable name for the 'topic/medium' bit. 'Language' (as in programming language) felt like a good fit, but we can't have `Language --> Language --> ...` :)

I'm not sure about the 'level' being Beginner, Intermediate or Advanced, as the difficulty really depends on how many challenges a child undertakes. Do 'Scratch 1' and 'Scratch 2' etc. wor

[2015-02-02 11:06] #132 closed

[2015-02-02 12:04] andylolz commented on #133
To be honest, although we’re talking about a very minor change (in terms of code) I think this actually represents a fairly significant change in terms of branding. Elsewhere, the Code Club site talks about terms (e.g. the [about page](https://www.codeclub.org.uk/about)). This grouping of projects is a pretty crucial building block, so the language used to describe it should be consistent.

I’d su

[2015-02-02 12:15] andylolz commented on #83
I ★★★’d this ages ago and self-assigned, then didn’t do it! So… This is next up. I’ll also create redirects for this, since otherwise it will break pretty much all existing URLs.

[2015-02-02 13:11] #133 closed

[2015-02-03 13:02] rikcross opened #135 "Managing project lifecycle"
Currently, there isn't a way of 'retiring' projects, and moving them out of the 'core' Scratch / HTML & CSS / Python sections. There are 'additional project' sections, but these will soon become huge.

Adding a small note to the bottom of the current 'Terms & Resources' page, linking to a 'legacy_projects' repo (with a disclaimer) has been one suggested solution.

I guess this would need to be fle

[2015-02-03 13:28] CodeClubRik opened #136 "Adding new terms"
Currently I'm putting any project not in the 'core' curriculum into the 'Additional ... projects' sections, and these sections are getting quite big.

![screen shot 2015-02-03 at 13 21 15](https://cloud.githubusercontent.com/assets/7372432/6020768/c5b25b3e-aba7-11e4-956b-8d54f869323b.png)

It would be great if we had the flexibility to create new sections, which effectively worked in the same way

[2015-02-03 13:51] andylolz commented on #136
@CodeClubRik: Apologies – I’m not sure I understand. It sounds like you’re after more terms. Like this?

![screen shot 2015-02-03 at 13 47 18](https://cloud.githubusercontent.com/assets/464193/6021125/3d55819a-abab-11e4-806e-e8fa042a05ae.png)

If so, that’s currently possible. If not, can you explain how it differs?

That URL doesn’t work for me…

[2015-02-03 13:57] CodeClubRik commented on #136
Hey @andylolz -- I mean additional entire sections, so we could have an 'additional projects' section underneath the current 'terms' section. I know that @Jonic set a version of this up, but additional sections can only be URLs and not manifests which build projects.

[2015-02-03 14:04] andylolz commented on #135
The name “Legacy projects” (or “Archived projects”) makes much more sense to me than “Additional projects”! Can I suggest renaming it as such?

If we had a `legacy_projects` repo now, what would the “terms” be? I.e. How would you organise these sections to prevent them becoming huge?

I’d suggest instead following the gmail “search, don’t sort” strategy, by adding a javascript search onto an “arch

[2015-02-03 14:13] andylolz commented on #136
Like this?

![screen shot 2015-02-03 at 14 09 32](https://cloud.githubusercontent.com/assets/464193/6021526/58eb4144-abae-11e4-8e12-1c26bfd3cfb9.png)

Sorry – I find it much easier to understand with an image :) So… Here I’ve put the additional projects literally underneath, rather than underneath in terms of menu hierarchy.

[2015-02-03 14:19] CodeClubRik commented on #135
Hi @andylolz

I think we'd need both -- 'Additional Projects' being extra non-retired bits like christmas projects, flappy parrot, etc. and 'Retired Projects' being unsupported stuff that we don't want to endorse, but should probably still make available.

I was thinking just folders for each language, but you're right they could become huge.

That's an awesome idea, for both live and retired proj

[2015-02-03 14:20] CodeClubRik commented on #136
Yep, that kind of thing! :)

[2015-02-03 14:50] andylolz commented on #135
Aha, I see! Yep, that makes sense – good plan.

I don’t think it’s a problem if they become huge (assuming “huge” means <50.)

Ace. There’s the added advantage that this would all be template code, so wouldn’t involve diving into the core of lesson_format at all.

[2015-02-04 09:11] andylolz commented on #128
Modified issue according to [Rik’s comments](https://github.com/CodeClub/lesson_format/issues/128#issuecomment-71631464).

[2015-02-04 09:12] CodeClubRik commented on #128
cheers @andylolz

[2015-02-04 09:32] andylolz opened #138 "Tidy up notices on HTML project view"
There are so many notices that the entire project is below the fold sometimes. This is my screen right now:
![screen shot 2015-02-04 at 09 18 20](https://cloud.githubusercontent.com/assets/464193/6037842/cab7ae06-ac4f-11e4-86f7-93115692d89d.png)

I think this relates to the student / volunteer portals: This is probably fine on the volunteer version; it’s less fine on the student version.

[2015-02-04 10:38] #128 closed

[2015-02-04 15:42] martinpeck commented on #138
+1

Or, perhaps, we should add another notice at the top telling people to scroll down past the notices :)

[2015-02-04 17:03] andylolz commented on #138
Ha! ___weeps___

[2015-02-05 12:24] CodeClubRik commented on #138
Currently, there's a [project feedback from](https://docs.google.com/a/codeclub.org.uk/forms/d/15QLeJ_aDklioXl5cUyUK1KqZ7lUhCiewl3qiwXOg41M/) that's used for new projects only.

I think that this could be useful for feedback on any project, but I'm not sure where's best to put it. It could be a part of the [documentation](https://github.com/CodeClub/curriculum_documentation/blob/master/README.md),

[2015-02-06 13:40] CodeClubRik opened #139 "Legend missing from PDF"
The legend no longer appears on the bottom of page 1 of the PDFs. I wonder whether this has anything to do with the addition of the 'clubs must be registered' notice, or was it purposefully removed?

![screen shot 2015-02-06 at 13 38 44](https://cloud.githubusercontent.com/assets/7372432/6080095/9354bb22-ae05-11e4-8517-26f8fb70b94f.png)

[2015-02-06 13:41] #139 closed

[2015-02-06 14:25] arve0 opened #140 "Push new NO lessons to curriculum repos"
Hi!
Here in in Norway, we have deviated a bit from `lesson_format` and made our own [builder](/arve0/codeclub_lesson_builder) which is a bit more flexible for our needs. Also, we have created some new lessons and are in the works of creating more.

As the format has changed a bit (we've excluded things we do not need, in specific: some YAML properties and the manifest), I'm looking into creating a

[2015-02-06 16:21] rikcross opened #141 "Extras"
I'm trying to take the Scratch cards out of the language root and into the Scratch 1 and Scratch 2 sections. However, it doesn't appear as if extras can be anything other than `.md` files. Is there any way in which I could include a URL in a manifest?:

[code]

[2015-02-06 16:28] rikcross opened #142 "Ability to add “Test Your Project” within a step"
`##Test you project {.flag}`

So far I've been leaving these out of new projects, as they can only be placed at the end of a section. However, I've been encouraging children to test most new code as it's written, and so it'd be nice to include test points within a step, as well as at the end.

Is this possible? (@andylolz I know you mentioned that it might be this way by design, but it seems odd t

[2015-02-06 16:40] andylolz commented on #142
You’re absolutely right! I _did_ say that, and I think I was completely wrong!

You really can’t “test your project” too much, so restricting where you can add that directive is not good.

Would you want these “Test your project” directives to look exactly as they do now?

[2015-02-06 16:46] CodeClubRik commented on #142
i'm not sure you're _wrong_... it's also that the steps are quite long also, so need lots of test-points!

I think the test points look look great as they are!

[2015-02-06 17:51] andylolz commented on #142
Kk – Cool :) But we agree that test points are good!

Right… Just having a go at this. So, here’s a test block inside a checklist item:

![screen shot 2015-02-06 at 17 36 55](https://cloud.githubusercontent.com/assets/464193/6084188/d05dce48-ae26-11e4-9114-c31fef645b7a.png)

I suspect this _isn’t_ what we’re after… Because having a test being part of a checklist item seems a bit weird. Checking th

[2015-02-06 18:08] CodeClubRik commented on #142
I agree, that last example looks great. :+1:

[2015-02-06 18:12] rikcross opened #143 "Bullet points within challenge can be crossed out by clicking the text"
If a challenge has a bullet point list, then clicking the text clicks the checkbox and crosses out the text.
I've probably done a terrible job of explaining that!

![screen shot 2015-02-06 at 18 08 15](https://cloud.githubusercontent.com/assets/7372432/6084774/cb119fdc-ae2b-11e4-819d-65a29374bd70.png)

[2015-02-06 18:13] CodeClubRik commented on #143
...this is also true of 'test' boxes.

[2015-02-07 13:39] andylolz commented on #143
Absolutely right – this is currently inconsistent.

I’m not sure there’s a super easy fix here. I _think_ it means switching to use checkboxes (instead of pretend checkboxes).

[2015-02-10 16:47] CodeClubRik commented on #55
It would be great to have embedded files, as I'm currently in the process of writing more 'extras' the the new web curriculum.

[2015-02-12 11:55] CodeClubRik opened #144 "Add feedback link to every project (not just beta ones)"
as mentioned in #138 currently the project feedback link is a bubble at the top of beta projects.

it would be nice if this form was available somewhere for volunteers to give feedback on __any__ project.  this could be at the top of every project (as it currently is for beta projects) but maybe it could instead be in the term sections instead of individual projects?

oh, and there's a different f

[2015-02-12 12:37] CodeClubRik commented on #144
@andylolz suggested somewhere here maybe?

![top](https://cloud.githubusercontent.com/assets/7372432/6167494/d5b43d64-b2b3-11e4-98ee-9c8ddb6048c8.png)

[2015-02-12 12:43] martinpeck commented on #144
More of a general question, rather than one specific to this issue: do we need to get a designer to spend some time on these generated web pages so that they have added awesome?

[2015-02-12 12:44] CodeClubRik commented on #144
@martinpeck I think that would be great!

[2015-02-12 13:17] andylolz commented on #144
Haha – let the record show that I most definitely flagged up my total lack of design skills!

[2015-02-12 13:37] andylolz commented on #98
Any word on this?

[2015-02-12 14:00] martinpeck commented on #98
For no good reason I've generally gone with MIT, rather than GPL. I've worked at companies in the past that have been fearful (sometimes incorrectly) of GPL, where as they are generally pretty cool with MIT. Let me add this to my TODO to discuss with our legal dudes.

[2015-02-12 14:55] andylolz commented on #98
Cool – thanks. There’s a tiny bit more info on #114.

[2015-02-17 22:35] codecleaner commented on #88
Information from http://comicneue.com:

Maybe we can use it now to non-english PDFs?

[2015-02-22 10:45] codecleaner opened #145 "Legal information"
On every page at projects.codeclubworld.org there is legal information:

![image](https://cloud.githubusercontent.com/assets/781153/6318237/1dafb0fa-ba87-11e4-929c-1964c6848c47.png)

I think it's a bug and this information applies rather to all projects from projects.codeclub.org.uk, am I right?

[2015-02-22 11:31] andylolz commented on #145
You’re right – looks like a bug to me.

[2015-02-22 13:16] andylolz commented on #145
Looks like there was a copy/paste error in 1f45bde4.

[2015-02-22 13:22] andylolz commented on #145
Fixed in e723a1ea. Note that the fix won’t take effect until @codeclubrobot next runs.

[2015-02-22 13:22] #145 closed

[2015-02-22 13:50] codecleaner commented on #145
OK. Thanks for fixing it @andylolz!

[2015-02-24 14:50] rikcross opened #148 "PDFs are too long – consider removing padding / auto-resizing images"
We've had more than one volunteer comment that the PDFs for the new projects are quite lengthy (the PDF for 'Lost in Space' is currently 19 pages). This is partly due to the number and size of images. For example, a screenshot image of the Scratch stage takes up about 1/2 an A4 page:

![screen shot 2015-02-24 at 14 42 12](https://cloud.githubusercontent.com/assets/7372432/6351416/5c5ec2b6-bc33-11e

[2015-02-24 15:27] andylolz commented on #144
I've created a "design" label for issues that need a design eye.

[2015-02-24 15:32] andylolz commented on #145
@codeclubrik CodeClub/CodeClubWorld-Projects#39 fixes this

[2015-02-24 15:34] CodeClubRik commented on #145
@andylolz merged! :)

[2015-02-24 15:38] martinpeck commented on #148
Presumably the layout of the web page, or the PDF when views on screen, is less of a issues - it's the size of the printed material that's a problem, right? It certainly looks like we have a lot of white space, but I wonder if that's a good thing to maintain - increasing the density of the print outs might make them less accessible and harder to follow.

[2015-02-24 16:05] andylolz commented on #145
Nice! Thanks, Rik!

(I would totally close this issue now, but I already closed it. Sad face.)

[2015-02-25 13:58] andylolz commented on #99
Going to reopen this one. @codecleaner’s fix sorted out some of the whitespace, but I think there are other places that could also use tightening up.

[2015-02-25 14:20] andylolz commented on #148
Yeah – I think whitespace is definitely an issue with the PDFs. There’s probably scope for tightening up without making PDFs harder to follow. I’ve reopened #99.

That won’t take a PDF from 19 pages to <10, though. I’m tempted to say (very controversially) that this seems like an editorial issue, rather than a technical one. The big screenshot could be a smaller screenshot; the tall, thin image co

[2015-02-25 14:34] CodeClubRik commented on #148
haha i was hoping i wouldn't have to manually resize images :/

[2015-03-17 09:43] andylolz opened #149 "output force-added to this repo"
This repo currently contains the [built UK output](https://github.com/CodeClub/lesson_format/tree/master/output/codeclubuk/en-GB/07_scratch_bonus).

I’m assuming `git add --force output` was run by accident? @CodeClubRik do you mind if I remove this and then do a `git push --force`?

[2015-03-17 09:46] CodeClubRik commented on #149
Yep, that's no problem!

[2015-03-17 10:02] andylolz commented on #149
Great – fixed now.

[2015-03-17 10:02] #149 closed

[2015-03-17 18:30] CodeClubRik opened #150 "CSS for trinkets"
Hey, new projects will include embedded 'trinkets' for writing and editing HTML & CSS online.

Just like the embedded Scratch projects in the online versions, trinkets will need to be shown online, and ignored for the PDF rendering.

Here's an example trinket iframe:

[code]

It'd be super if the PDF css would just ignore the trinket class entirely. Also, I've had to add some padding to the trinke

[2015-03-19 09:49] andylolz commented on #110
This is much simpler than I realised. Instructions here:
https://devcenter.heroku.com/articles/github-integration

[2015-03-19 14:14] martinpeck opened #151 "Remove TODO.md because it's out of date"
There's a legacy file named TODO.md in the root of the repository. Some of the items in this file are done, some are moved to GitHub issues, and some are not relevant any more.

To prevent confusion, let's remove this file.

[2015-03-19 14:17] CodeClubRik commented on #151
agreed

[2015-03-19 14:19] martinpeck commented on #151
TODO T'GONE. TADA!

[2015-03-19 14:19] #151 closed

[2015-03-19 16:10] CodeClubRik commented on #140
Hi @arve0 - sorry for the huge delay in replying.

Yes, it'd be great to have the new lessons pushed as well. I'm currently in the process of separating out 'volunteer contributed projects' into their own manifest, so that they are separate to our 'core' curriculum.

Would it be possible for you to do something similar for these new projects?

Thanks,
Rik.

[2015-03-19 17:02] arve0 commented on #140
No worries, haven't had time yet anyhow. A contribution section would be
quite easy to fix. I'll look into the manifest files when I have some time
to look at this. Thanks :-)

[2015-03-19 17:06] martinpeck opened #152 "Remove AMENDING.md as it doesn't make sense"
This file doesn't appear to make sense for this repository, and refers to files that don't exist. Probably better to nuke it until we're sure what it should say.

[2015-03-19 17:12] andylolz commented on #140
Renamed – did I get that right, @arve0?

[2015-03-19 18:21] arve0 commented on #140
Sounds right. Might want to move over to the right place, if the curriculum
repo are better suited.

[2015-03-19 21:50] andylolz commented on #140
I’ll leave that to you! I’m not sure which repo :)

[2015-03-24 09:33] andylolz opened #153 "Use npm to install pandoc"
We can remove a step in the install process by using npm to install pandoc. @arve0 uses this trick here:
https://github.com/arve0/metalsmith-pandoc/blob/b131f1ab/package.json#L28

[2015-03-24 14:00] martinpeck commented on #136
This is now done:

- Each term .manifest file can [optionally] specify a category in the JSON
- That category is rendered as a H1 before rendering the link to the term
- That category is looked up in the language translations so that you can render a human-readable title if you want.
- [optionally] an additional translation, the category ID with ".description", can exist in the translations. If pr

[2015-03-24 14:06] martinpeck commented on #136
Fixed in SHA: f505b4857636284aaf4cae11b3d2e93363ad902c
Minor modifications to metadata in SHA: 0c791857804c902c82b8325e1521a218ed973495

[2015-03-24 14:06] #136 closed

[2015-03-24 14:08] martinpeck commented on #136
Sample output (with totally made up metadata) can be seen here:

![image](https://cloud.githubusercontent.com/assets/1524451/6803405/2e9e16a8-d22f-11e4-9583-c12078b369a3.png)

[2015-03-24 15:06] andylolz commented on #136
Nice!

One thing about using translations in this way… The fallback (when there’s no translation) becomes a key (e.g. “cat-official.description”) rather than the English text. This is _only just_ worth mentioning, so I’m mentioning it :)

V nice though! I’ve commented on the commit directly with attempted answers to the questions in the comments.

[2015-03-24 15:26] martinpeck commented on #136
Yeah...agreed. The use of translations is not ideal. My longer-term plan is to define the metadata for categories somewhere but this felt like the least-evil-while-getting-stuff-done way to give @CodeClubRik some more flexibility.

[2015-03-24 15:32] andylolz commented on #136
Defos. Makes a lot of sense :+1:

[2015-03-24 15:55] martinpeck commented on #135
I'm wondering if the benefits of having three repos (scratch, web, python) is outweighed by the pain it causes when we want to move them around (to retire projects), and when we want to add other 3rd party content.

If the main reason for having them separated is the size of the repo, and the build time, it might be better to find smart solutions to these problems that allow us to have everything

[2015-03-24 16:31] andylolz commented on #135
Fair point, yep! We could very easily introduce an `archived` flag. Projects with this flag would not by default be rebuilt.

But actually, I don’t think the motivation here was size / build time. Much more about having a clean and clear offering. Though I’m sure @CodeClubRik can clarify.

[2015-03-24 16:45] CodeClubRik commented on #135
I honestly have no idea why projects are in separate repos. It doesn't seem to have any benefit that I can  see from writing projects.

[2015-03-24 19:33] martinpeck commented on #150
Can you give me an example web project to work with? Do you have any in your personal forks of the projects? I can see you have some in your gh-pages/github.io site, but can't see the lesson "source".

[2015-03-24 19:34] CodeClubRik commented on #150
sure, it's [here](https://github.com/CodeClubRik/webdev-curriculum)

[2015-03-24 19:43] andylolz commented on #110
@martinpeck is this definitely closable? Doesn’t appear to be… The heroku remote appears to be behind github.

[2015-03-24 19:46] martinpeck commented on #110
Are you sure? The logs show it's at SHA: 4cd4399, which is where the tip of tree here is.

[2015-03-24 19:47] martinpeck commented on #110
My check built and deployed AFAIK. So did Rik's. I can see that yours failed to build.

[2015-03-24 21:11] martinpeck commented on #110
@andylolz I see what you mean (diff between master and heroku/master shows that they're not the same). However, I think this is correct. The github hook results in the code from github.com being built and deployed, NOT the code from the heroku repository. The hook doesn't auto-pull between Heroku git and Github git - it auto deploys from Github.com.

[2015-03-24 21:35] andylolz commented on #110
You’re right – `heroku logs` does show that. Weird that `git fetch heroku && git log heroku/master` shows the repo is behind – I guess the deployment works some way independent of that repo?

Not sure what you mean? I cancelled a build midway (as I was just watching to check the phantomjs version / to see if the repo appeared up-to-date.)

[2015-03-24 21:36] andylolz commented on #110
Sorry – your last message appeared when I pressed comment! Think we reached the same conclusion :) Closing as fixed.

[2015-03-24 21:50] andylolz commented on #109
This isn’t true! Maybe it was true once, but it isn’t now.

In any case, I’ve now switched off web and worker dynos (Procfile moved to ~Procfile) so there’s no risk of exceeding any allowances.

[2015-03-24 21:57] andylolz commented on #126
Unassigning myself as I will never get to this. But it’s still an interesting one.

[2015-03-24 21:59] #109 closed

[2015-03-24 22:08] andylolz commented on #152
Yeah – AMENDING.md shouldn’t be here… Instead there should be the equivalent of [CONTRIBUTING.md on the curriculum repos](https://github.com/CodeClub/scratch-curriculum/blob/d3fde5d6/CONTRIBUTING.md).

The idea is these files all funnel contributors into [the documentation repo](https://github.com/CodeClub/curriculum_documentation).

[2015-03-24 22:11] andylolz commented on #152
Added in 66d556e8

[2015-03-24 22:11] #152 closed

[2015-03-24 22:27] martinpeck commented on #150
You can hide things from the PDF version by adding the pdf-hidden class...

[code]

[2015-03-24 23:04] martinpeck commented on #150
Ignore the above. I've checked in changes that should mean you can layout the trinket component as follows...
[code]

[2015-03-24 23:06] martinpeck commented on #150
the above (which I had to update, cos of copy pasta fail) will ensure that trinket has the padding you wanted, and is removed from the PDF version

[2015-03-24 23:06] #150 closed

[2015-03-25 00:13] andylolz commented on #83
Unassigning because it’s ★★★ and not a big task… But I’m v unlikely to do it.

[2015-03-25 08:24] martinpeck commented on #143
The behaviour of these checkboxes is more consistent with the way they're supposed to work in general, but is inconsistent with the way the task checkboxes work in the rest of the lesson.

@CodeClubRik  Which behaviour would you like to see? I suspect it's easier to make the text stop activating the checkboxes, but that's less consistent with the way these controls are, in general, supposed to wor

[2015-03-25 09:42] CodeClubRik commented on #143
Hey @martinpeck I think my only problem is that sometimes children click the text (either to highlight it, or just to keep track of their reading) and they accidentally 'tick off' the task.

Even if the 'checkbox hover' CSS turned the cursor into a pointer, then it'd be more obvious that clicking had an effect on the task.

Whatever we do, I guess it's best to make this consistent with the main ac

[2015-03-25 09:43] CodeClubRik commented on #150
@martinpeck thanks :)

[2015-03-25 11:05] andylolz commented on #110
Nope – I don’t think it’s working! I’m not sure what the auto-deploy from github.com involves, but it’s definitely failing to pull in submodules.

Possibly other problems too, but that’s the one showing up in `heroku logs`

[2015-03-25 12:28] martinpeck commented on #110
Just found this in the small print on Heroku...

Grrr.

[2015-03-25 13:19] martinpeck commented on #110
OK. Here's the plan...
1. turn off github integration for a bit
2. push latest code to heroku git repo
3. package up the pandoc filter, instead of using submodules
4. remove the git submodule and replace with a package
5. turn on (and test) the github integration
6. ...
7. drink beer

/cc @CodeClubRik @andylolz

[2015-03-25 13:47] andylolz commented on #110
cool!

[2015-03-25 14:03] andylolz commented on #143
You’re talking about checkbox labels triggering the checkbox they’re `for`? Yeah… I originally made it work that way… Thing is, they’re big blocks of instructions – often including images. Treating them as labels prevents copy/paste, as Rik points out.

+1 for making just the checkbox clickable (and not the label).

[2015-04-08 13:07] martinpeck opened #154 "Update colour for warnings so that it's less "angry""
Requested by @CodeClubRik, I should update the CSS so that the warnings, present on index pages, are less red and more happy-orange.

Happy happy, joy joy.

[2015-04-08 13:16] CodeClubRik commented on #154
thanks martin!

[2015-04-08 13:24] martinpeck opened #155 "Remove UK specific code paths from build.py"
There are two places where the logic branches based upon the build being performed for UK vs CCW. No one appears to know why, and it causes inconsistencies that are unexpected, so remove them.

Let's be one big happy family.

[2015-04-08 13:29] #154 closed

[2015-04-08 14:43] andylolz commented on #155
The relevant commit appears to be e26b06e2.

Presumably this comes from the days of manually generated UK-theme PDFs in the curriculum repos, and no CCW PDFs. In that case, it wouldn’t be desirable to copy UK-theme PDFs to CCW project site(s).

I’m _fairly_ sure it’s now defunct.

[2015-04-09 09:00] martinpeck opened #156 "Don't Overwrite Existing PDFs with Generated Ones"
If a project already has PDFs available then we should not overwrite them/replace them with ones generated from the markdown files. We should assume that the PDFs supplied are supplied for good reason.

At present, we will use the existing PDFs when build.py is run without PDF generation, and we will ignore/replace them if run with PDF generation. This behaviour is, at best, confusing. So, we shou

[2015-04-09 10:38] andylolz commented on #156
Looks good to me. Looks like I attempted to do this in 06793788, but got it wrong :\

In practice, I _think_ the only occasions where project PDFs are specified are when there’s no markdown (e.g. [ar-EG](https://github.com/CodeClub/scratch-curriculum/blob/master/ar-EG/%D8%A7%D9%84%D9%81%D8%B5%D9%84%20%D8%A7%D9%84%D8%A7%D9%88%D9%84/ar-EG_scratch_term1.manifest)) in which case the PDF generation won

[2015-04-09 11:22] martinpeck commented on #156
Thanks Andy. I gave myself a headache looking at the double-negative boolean checks that this code was performing :)

-- 
Martin Peck
Sent with Airmail

On 9 April 2015 at 11:38:11, Andy Lulham (notifications@github.com) wrote:

Looks good to me. Looks like I attempted to do this in 0679378, but got it wrong :\

In practice, I think the only occasions where project PDFs are specified are when ther

[2015-04-09 13:04] andylolz commented on #156
Haha yep, me too!

[2015-04-10 11:25] SarahSC opened #157 "Link to CC Terms of Service on http://projects.codeclub.org.uk/"
People who use our projects are technically bound by our Terms of Service.

Please can we add a link somewhere on the http://projects.codeclub.org.uk/ landing page?

[2015-04-10 11:55] arve0 commented on #157
Adding, which license the lessons are under could be more clear. It's stated somewhere ([like here](https://www.codeclub.org.uk/faqs) under *Who can use our projects?*) that the *work* is creative commons by-nc-sa 4.0.

[2015-04-10 12:16] andylolz commented on #157
For reference, [here are the Terms of Service](https://s3.amazonaws.com/codeclub-assets/public/Code+Club+Terms+of+Service+v10.pdf).

Hmm… Is this compatible with the license?

[2015-04-10 12:44] Jonic commented on #157
What do you mean Andy? Can you elaborate please?

[2015-04-10 12:57] martinpeck commented on #157
Let's take this offline. Licensing and terms of service discussions are
underway elsewhere.

On Friday, 10 April 2015, Jonic Linley <notifications@github.com> wrote:

--
Cheers, Martin

[2015-04-10 13:00] arve0 commented on #157
I think what he means is (at least what Kodeklubben in Norway is wondering about): If the lessons are licensed under cc-by-nc-sa 4.0, could one at the same time be bound by the terms of service? Terms of service might be incompatible with the cc license, and double licensing would not make sense.

[2015-04-10 19:52] andylolz commented on #157
Thanks @arve0 – exactly.

[2015-04-22 09:21] andylolz opened #158 "Syntax highlight python code blocks"
This big code block here is hard to read:
http://projects.codeclub.org.uk/en-GB/05_python/05/Gameshow.html#activity-checklist

Look how much nicer it is with just some subtle syntax highlighting:

[code]

It’s trivial to do this client-side, and there probably exists something to do it in pandoc.

[2015-04-22 10:17] martinpeck commented on #155
Did this is in SHA: c170233cb7d8f6f5ddf3c6a94e8f45427caf5731 but forgot to connect the dots.

[2015-04-22 10:17] #155 closed

[2015-04-22 10:26] martinpeck commented on #157
Addressed in SHA: 14652faa6c98323478f89d95c6a62f26092f68df

[2015-04-22 10:26] #157 closed

[2015-04-22 17:09] andylolz commented on #158
So I think this relies on codeclub/python-curriculum#51 (to ensure pandoc generates the correct html) and then it’s just a case of including some pygments css or sass.

[2015-04-22 22:47] andylolz commented on #158
Fixed in 814c4821.

[2015-04-22 22:47] #158 closed

[2015-04-25 22:50] andylolz commented on #156
This is presumably closable now?

[2015-04-25 23:04] martinpeck commented on #156
Sure is. Closing it in 5..4..3..2..

[2015-04-25 23:04] #156 closed

[2015-04-29 18:26] CodeClubRik commented on #144
FYI: here's the current [beta project feedback form](https://docs.google.com/forms/d/1eMCfpYe3v7eYu5M8rSqLKlmq7cczLCLHx66csgyUyVU/viewform?usp=send_form)

[2015-05-04 09:52] andylolz opened #160 "Terms of service errors"
The references in the [Terms of Service doc](https://www.codeclub.org.uk/terms-and-conditions) (linked in the footer) seem muddled. Presumably it has been rejigged, but the inline references haven’t been updated. For instance, 2.2 references itself:

the occurrence of any matter set out in __paragraph 2.2__ below.

So does 2.5:

understand that if we become aware of any breach of any of the undert

[2015-05-05 11:20] martinpeck commented on #160
Thanks. I'm going to migrate this bug to the private repository for the CCUK site as this is where those terms are defined and hosted.

[2015-05-05 12:34] andylolz commented on #160
Cool, sounds good.

It’s a shame github doesn’t allow you to have a public issue tracker on a private repo. They suggest this somewhat unsatisfactory solution:
https://help.github.com/articles/issues-only-access-permissions/

[2015-05-08 12:03] CodeClubRik commented on #148
Hey @andylolz I just noticed you changed the title of this issue. Does this mean we can auto-resize images for the PDF only (since the length of a webpage doesn't matter) or does it mean that I should manually resize all images?

[2015-05-08 15:37] andylolz commented on #148
Nah – I was just rewording because I’m a pedant! Sorry. “Length of PDFs” is more like a topic – you have to click in and read the description to understand what it’s about. Current title is more of a summary of the issue.

[2015-05-21 11:44] andylolz opened #161 "Links to scratchcards/useful resources on each project page"
I find my club members sometimes need reminding of stuff like this:

![space-xy](https://cloud.githubusercontent.com/assets/464193/7747565/8f1eabd0-ffb3-11e4-893c-db741de0589a.png)

It’d be handy to define a set of useful links (to relevant scratchcards, and generally handy resources like this) in the project frontmatter, and then show these links on the project page.

[2015-05-21 12:26] CodeClubRik commented on #161
New Scratch cards are on my to do list. I wonder whether it's worth creating a list of useful card topics first, so that I can write them up as new cards? We could then link to them as you suggest. It'd also mean we don't have to cross-link to other projects (for example, "forgotten what a variable is? go to the balloons project", which involves sifting through the entire project to find the relev

[2015-05-21 14:11] andylolz commented on #161
This sounds great! Glad you’ve been thinking about this.

Yeah definitely, that’s much better.

Tricky to remember other examples! I’ll have a think. It’s a good question to throw out to the Code Club volunteer community.

[2015-05-21 22:37] martinpeck commented on #161
A couple of common requests I get are:

- Sprites shooting things (you've already got this)
- Platform games and gravity (allowing sprites to jump under gravity and fall off of platforms)
- Collision Detection (allowing sprites to hit walls, but not get "stuck" to them)

I wrote this little game to play with the last two on this list (platforms, gravity, collision etc): https://scratch.mit.edu/pro

[2015-05-21 22:40] CodeClubRik opened #162 "Auto-populate feedback form with the project name"
It'd be great if volunteers could give feedback for every project, and not just those in beta. I've put together a new project feedback form:

https://docs.google.com/forms/d/1eMCfpYe3v7eYu5M8rSqLKlmq7cczLCLHx66csgyUyVU/viewform?usp=send_form

Currently, the form has a lot of pages asking for the Course / Module / project, but after a discussion with @martinpeck today it looks like forms can be pr

[2015-05-21 22:41] CodeClubRik commented on #161
Cheers @martinpeck

[2015-05-21 22:41] martinpeck commented on #161
On, the other one I get a lot is how to retro-fit a "start/intro" screen, and how to add a "game over/score" screen. I end up teaching the kids that it's bad to wire up things to "when green flag clicked". Instead, they should have messages for "intro", "game start", "game over" and write up everything to those message, and make the green flash broadcast an event.

I'm not sure if that's something

[2015-05-21 22:43] CodeClubRik commented on #161
That's the aim of the 'Brain Game' project. It's a really simple game but with a start screen and start button.

[2015-05-27 13:05] CodeClubRik commented on #55
FYI I've fixed this in a really hacky way, by using relative links to files in the first projects' folder:

https://github.com/CodeClub/webdev-curriculum/commit/194f7086f8891da7f29d385594aafd4e68bfe95c

This may need undoing once this issue is addressed.

[2015-05-27 19:08] rikcross opened #163 "Padding between activity steps"
There's no padding after a step that ends with a list. For example:

![screen shot 2015-05-27 at 20 03 30](https://cloud.githubusercontent.com/assets/7372432/7844971/cdda6efc-04ab-11e5-8d89-ffce7fcc6865.png)

[2015-05-27 19:08] CodeClubRik commented on #163
This isn't at all urgent -- just keeping a list of future changes!

[2015-07-01 10:39] andylolz opened #165 "Use a more memorable jumpto.cc URL at the start of every PDF (and page)"
Every PDF currently begins with:
![screen shot 2015-07-01 at 11 33 09](https://cloud.githubusercontent.com/assets/464193/8452684/11bf4dc8-1fe5-11e5-8ba9-eefc8a1dd6ff.png)

The jumpto.cc URL includes a case-sensitive alphanumeric string. A lowercase word or phrase would be more memorable/easier to type.

The UK version is set here:
https://github.com/CodeClub/lesson_format/blob/master/assets/themes

[2015-07-01 11:10] CodeClubRik commented on #165
I can create a new short link - something like `/reg-help`, `/reg-blog` or `/why-reg`?
I'm terrible at thinking up short links.

[2015-07-01 11:45] andylolz commented on #165
I think readable/understandable is better than short. `/why-register`? Or `/register`?

[2015-07-01 12:37] andylolz commented on #134
The analytics on a 404 page might be quite handy – it’s possible there are some 404ing URLs with a decent amount of traffic (http://jumpto.cc/scratch-day, for instance) for which a redirect might be worthwhile.

[2015-07-01 12:50] martinpeck commented on #165
Either way, if we are to do this then it should be an additional short url, not an update to the existing one, cos we obviously can't update printed copies of PDFs.

Can we? No....no I'm sure we can't. Be cool if we could. But we can't. So...let's stop wondering about whether we can or not. We almost certainly can't.

(It's hot today - I'm losing it)

p.s. /start-a-club or /register-today (calls t

[2015-07-01 13:13] CodeClubRik commented on #165
Is this confusing, as we also have codeclub.org.uk/start-a-club. This is just a blog for more info.

[2015-07-01 13:23] martinpeck commented on #165
What do we want people who click that link to do? We want them to start a club, right? We take them to a blog that explains **why** we want them to start a club, and give them links to codeclub.org.uk/start-a-club.

The blog endpoint is a "sticking plaster" cos we don't have better words for why anyone would do this on the main site, so today that's where it goes. But that doesn't mean the short u

[2015-07-01 13:25] martinpeck commented on #165
There - see what you made me do now...!
martinpeck/plinky/issues/1

[2015-07-01 14:04] andylolz commented on #165
Ah – This wasn’t intended to be a ticket about case sensitivity. It was about making the URL more memorable/easier to type. So rather than: “people are trying to type the URL and failing”, it’s: “people are not attempting to type the complicated URL”.

[2015-07-01 14:05] andylolz commented on #165
This then takes them to:
https://www.codeclub.org.uk/start-a-club/volunteers
…and then to:
https://www.codeclub.org.uk/search-for-a-venue

If they have an existing, unregistered club, I suppose they’d then find the postcode for the school, enter that, then click through to the school. They then reach a page similar to this one:
https://www.codeclub.org.uk/register?role=Volunteer

I wonder if the b

[2015-07-30 14:42] CodeClubRik opened #166 "Adding a project Images folder"
Currently, a project's images are just in the root folder of the project, which looks quite messy.

![screen shot 2015-07-30 at 15 39 02](https://cloud.githubusercontent.com/assets/7372432/8985847/21050644-36d1-11e5-96bc-f43e61c97b91.png)

It'd be great to add an `Images` folder, to tidy things up, like this:

![screen shot 2015-07-30 at 09 47 08](https://cloud.githubusercontent.com/assets/7372432

[2015-07-30 21:58] arve0 commented on #166
While I do not agree with it being messy (first implementation of [find](https://www.freebsd.org/cgi/man.cgi?query=find(1)&sektion=) was implemented in 1971, file managers sort by time, type, name, etc), you can fix the "mess" with sed and Python.

Links can be altered with a sed script like this: https://github.com/arve0/codeclub_lesson_builder/blob/master/utils/fix_code_blocks.sh

Moving images

[2015-07-30 22:26] andylolz commented on #166
tbh I pretty much always use Sublime Text’s “Find in Files…” for this sort of thing. I know I should use `sed`, but sublime is so convenient!

I think your regex currently misses instances with spaces in the alt text, for instance, or hyphens in the filename. You can perhaps instead search for something really generic, like:
`!\[(.*)\]\((.*)\)`

And replace (in SublimeText) with something like:
`!

[2015-08-17 13:50] CodeClubRik commented on #166
Thanks guys!

[2015-08-17 13:50] #166 closed

[2015-08-25 09:35] andylolz commented on #41
This appears to have been resolved in e1987f13 by removing mention of Creative Commons.

[2015-08-25 17:24] shaidams64 commented on #17
@andylolz hi Andy, I know this issue is closed but i'll be very grateful if you can guide me how to insert proper page breaks in pdfs created by phantomjs. I saw you are suggesting adding manual page-breaks, could you pleas elaborate what you mean by that? thanks a lot!

[2015-08-25 21:33] andylolz commented on #17
Hi @shaidams64. My memory of this is hazy, but it’s all explained above. It looks like I couldn’t get `page-break-inside` to work, but `page-break-before` worked _some of the time_ (i.e. for some elements but not others).

It looks like you’re using phantomjs 2.0 – it’s a shame to hear the problem still isn’t resolved. I don’t think I ever really satisfactorily solved the problem, but I’d hoped up

[2015-08-26 16:17] CodeClubRik commented on #162
Damien has done this now. I'll close this.

[2015-08-26 16:17] #162 closed

[2015-09-03 09:09] martinpeck opened #168 "lesson_format soon to be retired"
## What's Happening to lesson_format?

This repository holds software that has, for some time, built the websites that we use to publish our learning materials.

We are currently in the process of building a totally new website to host our learning materials. The static websites that lesson_format builds are limited in what they can do, so we’ve started with something new. As such, the lesson_form

[2015-09-04 14:00] freyjaodds opened #170 "Languages on CCW project site in alphabetical order"
The order of the language list on http://projects.codeclubworld.org/ has changed, is it possible to make it alphabetical?

[2015-09-04 14:19] martinpeck commented on #170
Yes (it's possible), but No (it's not likely to happen). We're not actively maintaining this code, and I believe that alphabetical ordering would cause other problems.

[2015-09-04 14:35] andylolz commented on #170
They’re currently [sorted by project count](https://github.com/CodeClub/lesson_format/blob/814c4821/build.py#L999)! (I wondered why they occasionally move about!)

[2015-09-04 18:18] CodeClubRik opened #171 "Remove survey from 'new' project text"
If a project is marked as `beta: true`, this header is displayed:

![screen shot 2015-09-04 at 19 14 36](https://cloud.githubusercontent.com/assets/7372432/9691253/3ad298f0-5339-11e5-8fbe-998f44154a3b.png)

Please can we remove the link to the surveys, as now for the uk site we have a feedback button at the bottom of each project.

[2015-09-04 18:19] martinpeck opened #172 "autobuild.py fails with git error"
With the current logging in place, the autobuild.py, when kicked off on heroku, fails at the point where it pushes the changes to the codeclubrobot repository with this...

[code]

However, the actual push WORKS! It's just that it exits with a non-zero code.

After much head scratching I tried running the exact same python script from a herkou bash session and...it worked fine. No error.

Grrr...!

[2015-09-04 18:20] CodeClubRik commented on #171
The example above is from a Danish project -- I suggest we also remove the `beta: true` property from all translations, unless we can localise the text and make it relevant to translations.

[2015-09-04 18:21] martinpeck commented on #171
Isn't removing `beta: true` a fix for this issue in general?

[2015-09-04 18:23] CodeClubRik commented on #171
For translations, I think it is.
For English projects, it depends -- should these be updated and kept in line with those on the new site? Or is it frozen in it's current state?

[2015-09-04 20:57] martinpeck commented on #171
bcf49f423f022ac684cf7eede42e98f0f20dda34 disables the beta feature entirely

[2015-09-04 20:57] #171 closed

[2015-09-10 12:09] andylolz commented on #160
It looks like this document has now been revised and these bugs fixed.

[2015-09-10 12:09] #160 closed

[2015-10-12 08:58] rikcross opened #173 "Strange characters in es-ES Scratch projects"
**I'm not sure whether this belongs here or in the `scratch-curriculum` repo.**

The `scratch/es-ES/Scratch 1` projects aren't building. I get the following error:

[code]

In Sublime Text, accented characters look odd. E.g. Boat Race:

![screen shot 2015-10-12 at 09 42 52](https://cloud.githubusercontent.com/assets/7372432/10424282/d9f46e14-70c5-11e5-8fdc-3c21c7e4c8b0.png)

I've added `.ignore` t

[2015-10-12 09:42] andylolz commented on #173
These files should be saved with the UTF-8 encoding. Through a bit of trial and error, I gather they are probably saved with “Western (Mac Roman)” encoding. However, Sublime is guessing “Western (Windows 1252)” which is why they look weird in sublime.

In Sublime, you can do View -> Show Console, then type `view.encoding()` to see the encoding Sublime has opened the current file with. Then you can

[2015-10-12 09:48] CodeClubRik commented on #173
Thanks Andy, I'll try that -- thanks for the speedy help!
(p.s. your boat is AWESOME!)

[2015-10-12 09:53] andylolz commented on #173
haha thanks! I have sent a pull request with all the ES Scratch 1 files fixed, including some instructions!

[2015-10-12 09:55] CodeClubRik commented on #173
That's great, cheers! :)

[2015-10-12 09:55] freyjaodds commented on #173
​Andy, do we tell you enough what a star you are?​ I've been struggling
with these annoying characters for over a week now!

*Freyja Oddsdóttir*
Operations Executive
www.codeclubworld.org
@CodeClubWorld <http://twitter.com/codeclubworld>  |
www.facebook.com/codeclubworld <http://facebook.com/codeclubworld>

On 12 October 2015 at 10:53, Andy Lulham <notifications@github.com> wrote:

[2015-10-12 09:58] andylolz commented on #173
It looks like Sublimetext has the following setting that may well come in handy:

[code]

[2015-10-12 15:56] martinpeck commented on #173
@freyjaodds I suspect the issue originated from the files you were supplied for these translations. The default encoding that @andylolz mentions is something that Sublime Text has set up by default. Do you know what editor(s) the translator was using? Is it worth us being a bit more prescriptive about this sort of thing?

[2015-10-13 09:24] freyjaodds commented on #173
You are probably right, because they were .txt files as opposed to .md files.

This is the only time we have come across this issue so I think it is circumstantial - usually people open the english .md file to translate (and we have had loads of projects in languages with non-english characters with no issues). Therefore, I am inclined to think that it's likely a one-off and we don't need to be pr

[2015-10-13 09:28] martinpeck commented on #173
I suspect it's less likely if someone takes the .md files and modifies them, but it's still possible to open the .md files, change the text, and then save them with a different encoding scheme (though you'd probably have to go out of your way to do this).

If we're not going to be prescriptive about the editor that people should use, we should at least be prescriptive about the approach to transla

[2015-10-13 09:49] freyjaodds commented on #173
Agreed - that's what the translation guide currently says, and it gives them a link to the en-GB files to be modified. A lot of these things you mention are already specified in the translation guide, but I'll go through it again to make sure it's crystal clear.

[2015-11-03 19:36] musmuris commented on #168
Ah - I just read this after having generated the PDFs for all the projects. The ones currently live on https://www.codeclubprojects.org don't print very well (they are generated as the wrong document size and the font size is too small).
Do you have a timescale on how long it will be before the new system is published?

[2015-11-13 09:28] CodeClubRik commented on #168
Hi @musmuris

We’re aware of the PDF/font issue, and we’re looking at ways to fix this without making the PDFs too long.

Thanks,
Rik.

[2015-11-16 19:56] andylolz commented on #173
You’re quite right! My mistake.

I can’t remember if I mentioned this elsewhere, but I think you can add a post-receive hook to the curriculum repos that rejects anything that’s not UTF-8 encoded. That would prevent anything bad sneaking in. (If I already suggested this before, please ignore me! I feel like I may have…)

[2015-11-17 11:44] martinpeck opened #178 "Problem Migrating from Cedar 10 to Cedar 14"
The lesson_format build runs on Heroku. It has been running in a Cedar 10 environment and now needs to be upgraded to Cedar 14.

I've tried upgrading to Cedar 14, and I've tried creating a brand new Heroku app using Cedar 14. In both cases Heroku is unable to compile the app. The errors are similar, but I've shown them both here.

When trying to upgrade the exisitng app to Cedar 14 I get this erro

[2015-11-17 11:45] martinpeck commented on #178
Does this have anything to do with the custom build pack we're using?

[2015-11-17 11:53] martinpeck commented on #178
This looks similar...

https://github.com/deis/deis/issues/1740

... suggests a mismatch between versions of python in the Cedar platform and the buildpack might cause this.

[2015-11-17 19:38] martinpeck commented on #178
OK. Deploying is fine, but running the build is the next problem.
I'm seeing this error when the build runs...

`/app/pandoc: error while loading shared libraries: libgmp.so.3: cannot open shared object file: No such file or directory`

If I `heroku run bash` and then `./pandoc --version` I see the same issue.

I suspect this is another mismatch between the version of Pandoc and the new Cedar-14 s

[2015-11-17 20:01] andylolz commented on #178
Ahh righto, yep. I think I may have built that version of pandoc to suit the heroku setup – the gzipped file is being served from my cloud app account, anyway.

[2015-11-18 09:48] CodeClubRik commented on #144
I'm closing this, because it's been done for codeclubprojects.org.

[2015-11-18 09:48] #144 closed

[2015-11-18 15:20] martinpeck commented on #178
IT'S ALIVE!

https://media.licdn.com/mpr/mpr/p/1/005/07f/0e1/07ab226.jpg

[2015-11-18 19:21] andylolz commented on #178
Amazing! Does it work, though?!

I’ve arbitrarily upgraded pandoc from 1.13 to 1.15, which _could_ be the cause of problems I suppose. (And the chances of the ever-temperamental phantomjs working exactly the same on this different stack are not ever so high.)

[2015-11-18 22:07] martinpeck commented on #178
It would appear to have, yes. Thanks!

[2015-11-18 22:49] andylolz commented on #178
Ahh, brilliant :)

[2015-11-18 22:49] #178 closed

[2015-11-19 08:59] martinpeck commented on #168
I thought it worth adding one small clarification:

It is just this tool, lesson_format, that is being retired. The curriculum repos that it builds are not going away. The scratch, python, web repositories are still used as the source of our project website.

[2016-02-18 20:58] Jxr227 commented on #168
Not sure how often visited this is but i'll give it my best anyway!
I'm doing a final year dissertation on teaching computer science to children with robotics. For this I've made a ScratchX extension to interface with Turtlebots, however I can't get lesson_format working, lots of command line errors that I can't seem to resolve. Any tips? Any possibility I could get a preview of the new tool? Prod

[2016-02-18 21:08] arve0 commented on #168
@Jxr227 Take a look at [codeclub_lesson_builder](https://github.com/arve0/codeclub_lesson_builder), it might help you out. Disclaimer, I'm the author.

[2016-02-18 21:13] Jxr227 commented on #168
@arve0 Taking a look now - Thanks for the tip!

[2016-02-18 21:36] Jxr227 commented on #168
@arve0 I'm not really sure how this all works. I've got it running, do I need to create index files myself? The main thing I'm after is just the ability to make (standalone) HTML files to support my research as well as PDFs of the same files that can be available as a download.

[2016-02-21 20:38] rikcross opened #184 "Styling of Trinkets"
Now that the HTML projects have been updated to use Trinket, there are a couple of styling issues that need fixing.

![screen shot 2016-02-21 at 20 29 08](https://cloud.githubusercontent.com/assets/7372432/13205207/a73846b2-d8da-11e5-90ac-5b85c98b1696.png)

1) The HTML for displaying a Trinket is:

[code]

It would be great if the trinket (and not the image) was displayed on the website, and vice-

[2016-03-01 20:16] martinpeck commented on #184
I've only been and gone and done it!

[2016-03-01 20:16] #184 closed

[2016-03-01 20:21] martinpeck commented on #173
@rikcross can we close this issue? I'm guessing `yes` but wanted to double check with you.

[2016-03-01 20:57] rikcross commented on #173
Yep, this can be closed now.

[2016-03-01 20:57] #173 closed

[2016-03-01 20:58] rikcross commented on #184
:+1:

[2016-03-09 09:05] rikcross opened #186 "Right-to-left formatting bugs"
I think @andylolz mentioned previously that the rtl support was only tested for PDFs. I've added a couple of Hebrew projects, and the screenshot below shows a few formatting problems (mainly header/footer related).

![screen shot 2016-03-07 at 15 53 08](https://cloud.githubusercontent.com/assets/7372432/13630189/f2f1e5ec-e5d5-11e5-8843-ee87684b5b17.png)

[2016-03-09 09:33] martinpeck commented on #186
FYI this is unlikely to get fixed because of #168

[2016-03-09 10:21] andylolz commented on #168
@Jxr227 if you still need help on this, feel free to email me on a.lulham@gmail.com

[2016-03-09 10:29] andylolz commented on #186
Adding translations to the he-IL language file will probably help a bit:
https://github.com/CodeClub/lesson_format/blob/46e5128b/assets/languages/he-IL.language#L6-L8

Otherwise, you might possibly be able to add `rtl: true` to the frontmatter of project files, and remove it from the he-IL language file. Then the menus (which are currently largely in English) will at least remain left-to-right.

N

[2016-03-09 11:33] martinpeck commented on #168
Getting this project working isn't impossible (the README.md is in pretty good shape, but I wouldn't be surprised if it's missing some stuff), but it's not well documented and the code is not exactly easy to get to grips with.

It's worth pointing out that the use of the Code Club name and logos etc would not be appropriate on your own projects.

So, if you're going try and use lesson_format for y

[2016-03-09 14:17] Jxr227 opened #187 "Projects email"
@martinpeck
I tried to email the address you provided (projects@codeclub.org.uk)
and it complains, is it projects@codeclub.org?

[2016-03-09 14:25] martinpeck commented on #187
Nope. That address is correct. I've just mailed it myself (from various e-mail addresses), and it works for me.

If you let me know what error you're getting in the bounced e-mail I might be able to help, but projects@codeclub.org.uk is working for us.

[2016-03-09 14:28] Jxr227 commented on #187
My mistake, I was being an idiot.

[2016-03-09 14:28] #187 closed

[2016-03-09 14:29] martinpeck commented on #187
:)

[2016-03-09 17:02] rikcross commented on #186
Hi Andy, we have volunteers writing projects in rtl languages at present, and so it might complicate things to ask them to add extra data to the frontmatter.

[2016-03-09 17:42] andylolz commented on #186
Yeah, fair enough. Well, this _might_ help:

Otherwise, the fix would involve changes to lesson_format.

[2016-03-09 17:48] andylolz commented on #187
@martinpeck Hi, I intended to remove my email address from #168 once James replied / emailed, but I no longer have permission to do that. Would you mind doing that? Thanks.

[2016-03-09 17:53] martinpeck commented on #187
@andylolz done!

[2016-03-09 17:59] andylolz commented on #187
Great – thanks!

[2016-03-10 09:51] rikcross commented on #186
@freyjaodds and I also spotted that the checkboxes are on the wrong side.

![screen shot 2016-03-10 at 09 49 03](https://cloud.githubusercontent.com/assets/7372432/13665668/86dc9386-e6a5-11e5-9a61-171992579053.png)

[2016-03-16 01:14] erikhenrique opened #189 "Erro while trying to build project"
I'm trying to build the project to see the pdf files before made a PR of translation. But, for some reason the `make pages_cc` got fail. Can anyone help me? What I'm doing wrong?

Full trace of error:

[code]

Python version: 2.7.3
pandoc version: 1.16.0.2
NodeJs version: 1.4.29

Thanks

[2016-03-16 21:15] martinpeck commented on #189
Can you try downgrading pandoc? I've seen similar issues with latest pandoc builds.

Try downgrading to 1.13.2

(if you're using homebrew to install pandoc, this is the oldest version they have on tap)

[2016-03-16 21:17] martinpeck commented on #189
The reason I saw the above is because I recently had...

`pandoc: When expecting a product of 3 values, encountered an Array of 2 elements instead`

... and downgrading fixed it. That said, I've not seen the unicode issues you're seeing, so I can't be sure the pandoc version is causing that.

[2016-09-02 11:14] rik-cross opened #194 "Downloadable resources need rebuilding"
The downloadable project resources are out of date:

![screen shot 2016-09-02 at 12 12 04](https://cloud.githubusercontent.com/assets/18461167/18202232/b1b428c6-7106-11e6-8a6b-262cab31fd6b.png)

Is there a way to rebuild the website and force the .zip files to be regenerated? I'm sure this has been done in the past, but I forget how.

There are probably a few inconsistencies, so if all project res

[2016-09-02 12:04] rik-cross opened #195 "HTML & CSS Term 1 not showing"
Term 1 of HTML & CSS is not showing:

![screen shot 2016-09-02 at 13 01 55](https://cloud.githubusercontent.com/assets/18461167/18203232/7ff87cf4-710d-11e6-9ffb-e8ca015c142c.png)

I think this is because the codeclubrobot is having trouble with the 'Recipe' project. Until recently, the project had it's files split over `recipe` and `Recipe` folders. @grega helped fix this, and I know that I had to

[2016-09-05 18:50] phazor commented on #195
Is there an alternate location to source the HTML & CSS 1 projects from in the meantime?

[2016-09-05 19:14] phazor opened #196 "Phantom 1.9.2 is no longer available, cannot do a clean npm install"
Phantom 1.9.2 is no longer available. During a fresh npm install, phantomjs tries to retrieve a zip file from a location which is no longer correct *:

[code]

The fix is simple: allow patch versions, e.g. `~1.9.2`, in the package.json.

This works fine for me locally (I'm building it on OSX). From this, I assume that pinning the version is no longer necessary, or there's a reason specific to anot

[2016-09-05 20:25] martinpeck commented on #195
Is this not simply that the files you're trying to build don't exist?

I see this in the logs...

[code]

Note that in both cases the .md file has an upper case `R` for `Recipe.md`, where as the materials in the webdev-curriculum repo do not...

https://github.com/CodeClub/webdev-curriculum/blob/master/en-GB/Recipe/recipe.md
https://github.com/CodeClub/webdev-curriculum/tree/master/zh-CN/Recipe/re

[2016-09-05 20:30] martinpeck commented on #195
I've made the manifest changes in https://github.com/CodeClub/webdev-curriculum/commit/81c935944e5eb4d9d40d7c1e0a2c9e265357014a

[2016-09-05 20:34] rik-cross commented on #195
Whoops - thanks @martinpeck!

[2016-09-05 20:34] #195 closed

[2016-09-05 20:36] martinpeck commented on #195
I'm running a build with the changes to confirm this.

[2016-09-05 20:52] rik-cross commented on #195
@martinpeck - I've tested it, and you were right. The changes are now live :)

[2016-09-05 20:53] rik-cross commented on #195
Hi @phazor - sorry that the projects were unavailable, but everything should be fixed now.

[2016-09-05 20:53] martinpeck commented on #195
See! I'm not just a pretty face! :)

[2016-09-05 20:57] martinpeck commented on #194
How can I show that they're out of date?
What should I be looking for?

[2016-09-05 21:01] rik-cross commented on #194
For example, the files in the "Create Your Own World" should...
https://github.com/CodeClub/scratch-curriculum/tree/master/en-GB/Term%202/Create%20Your%20Own%20World/Project%20Resources

...are different to those in the .zip...
http://projects.codeclubworld.org/en-GB/02_scratch_02/06/scratch_02_2-06_Create_Your_Own_World_resources.zip

[2016-09-05 21:02] rik-cross commented on #194
This is also true of the files in "Catch the Dots" and "Paint Box".
I think they may be the only ones that need updating.

[2016-09-06 07:51] rik-cross commented on #194
...oh, and the HTML & CSS projects.

[2016-09-06 15:59] martinpeck commented on #194
I know what the issue is...it's that the code explicity goes out of its way to NEVER create a zip file if one already exists...

https://github.com/CodeClub/lesson_format/blob/master/build.py#L1305

I'm going to suggest a work around, but want to test it first. The work around is going to be "delete the zip files from the website you want to be regenerated".

I could add some flag in the code that

[2016-09-07 10:16] rik-cross commented on #194
Hi Martin, deleting the .zips sounds good to me. Even if this adds to the build time, it's almost always done overnight anyway.

[2016-09-07 10:34] martinpeck commented on #194
I'm not sure my initial suggestion is an option.

[2016-09-07 16:21] andylolz commented on #194
Looks like this lovely feature was added in cad6f810.

I think the idea was to run autobuild.py with `--clean` to bin everything and rebuild.

[2016-09-07 16:28] martinpeck commented on #194
Yeah, but neither `--clean` or `--rebuild` appear to help.
Every nightly build is run with `--clean`.

[2016-09-07 16:41] andylolz commented on #194
Yeah, I guess that’s due to the [`git checkout -- filename`](https://github.com/CodeClub/lesson_format/blob/6d622029/build.py#L1303).

I guess taking that out and using `--clean` will fix it.

[2016-09-07 16:51] martinpeck commented on #194
Yeah, so it's related to the "dirty hack" that was added in https://github.com/CodeClub/lesson_format/commit/b682de2dafe5a45c5772017cd19c977150749387 as part of "stop generating PDFs"

It looks like the PDF generation hack is circumvented by `--rebuild` where zipfile generation is not, so I'm considering adding check for `rebuild` around that zipfile hack such that a rebuild does not pull the file

[2016-09-09 12:21] martinpeck opened #197 "Build Pack for lesson_format is EOL"
Details to follow

[2016-09-09 14:03] martinpeck commented on #194
@rik-cross can you please confirm that this is now fixed? I'll close this on the assumption that it is, but feel free to open if the zipfiles don't appear to have been rebuilt (from my point of view, and looking at the last PR into the gh-pages repo, the zip files all look nice and fresh).

The change I've made in https://github.com/CodeClub/lesson_format/commit/ce8965f1499a3fc72a6938f033510e91bf6

[2016-09-09 14:03] #194 closed

[2016-09-09 14:08] martinpeck commented on #189
Closing this for now.

[2016-09-09 14:08] #189 closed

[2016-09-09 14:36] rik-cross commented on #194
All looks good to me. Thanks @martinpeck and @andylolz :)
Manually running with `--rebuild` if needed works for me.

[2016-09-09 14:40] erikhenrique commented on #189
@martinpeck sorry man, I din't received any notifications from this thread. I make the downgrading for the version 1.13.2 and now is working fine.

Thanks a lot! I will try to create a Vagrantfile to use virtual machine to do the hard work.

[2016-09-12 18:31] martinpeck commented on #170
@rik-cross are you ok with us closing this?

[2016-09-12 18:34] martinpeck commented on #165
Closing this, as we no longer have this link at the top of the PDFs.

[2016-09-12 18:34] #165 closed

[2016-09-12 18:36] martinpeck commented on #163
@rik-cross can we close this?

[2016-09-13 07:22] rik-cross commented on #170
yep i'll close this.

[2016-09-13 07:22] #170 closed

[2016-09-13 07:22] rik-cross commented on #163
yep, closing...

[2016-09-13 07:22] #163 closed

[2016-12-15 10:01] grega commented on #196
Can confirm that this is indeed the case, having tried building with `"phantomjs": "~1.9.2"` in `package.json` which results in Phantom `1.9.19` being used. However, it appears that switching away from the specific Phantom version (`1.9.2-6`) causes an issue with rendering certain Scratch-related assets within projects (perhaps in reference to this https://github.com/CodeClub/lesson_format/issues/

[2016-12-16 10:57] andylolz commented on #196
I think that that node module just installs the phantomjs binary. You can still get 1.9.2 here:
https://code.google.com/archive/p/phantomjs/downloads

I guess google code has just moved these download locations.

So I’d suggest just doing this bit manually, and removing the `phantomjs` node module from the dependencies list.

[2016-12-19 12:10] grega commented on #196
Cheers @andylolz, that sounds like a sensible workaround.

[2017-04-18 08:37] dtt101 commented on #196
We upgraded to 2.1.1 which worked: https://github.com/RaspberryPiFoundation/lesson_format/commit/7e4d1fd33df3dd83221a8dc2ae8aeeffd456880e

[2017-04-18 14:56] andylolz commented on #196
Whoa. Cool! Did it break loads of other stuff??

[2017-04-18 15:26] dtt101 commented on #196
@andylolz - just reviewing now the impact, will actually reopen this until we are certain cc @rik-cross

Thanks for chipping in!

[2017-04-19 12:42] rik-cross commented on #196
Yeah... it didn't work, and I've reverted the version (https://github.com/RaspberryPiFoundation/lesson_format/commit/0f968e66cea8b5417b9e5d5383f6009107cb9f8e)

[2017-04-19 14:58] andylolz commented on #196
Does that mean this is still in use?

I stopped working on this completely when #168 happened.

[2017-04-20 09:17] rik-cross commented on #196
@andylolz No, it doesn't seem to be in use unfortunately.

[2017-04-20 09:21] dtt101 commented on #196
@andylolz - yeah everything in #168 is still true, but the project is still powering a couple of things.
Very much due to be retired still.